<profile-component [person]="person"></profile-component>
<app-menu>
  <app-menu-item title="Bio">
    <app-menu-item title="Expereince">
      <app-menu-item 
        *ngFor="let project of person.projects"
        [title]="project.name + ' - ' + project.year">

      </app-menu-item>
    </app-menu-item>
  </app-menu-item>
  <app-menu-item>
    <app-menu-item title="Projects">
      <app-menu-item 
        *ngFor="let project of person.projects"
        [title]="project.name"
        [href]="project.href">
      </app-menu-item>
      <ul>
        <li *ngFor="let project of projects | async">
            <pre>{{ project.name }}</pre>
            <pre>{{ project.year }}</pre>
        </li>
    </ul>
    <form [formGroup]="form" (ngSubmit)="addProject()">
      <input formControlName="year"  />
      <input formControlName="name" />
      <button>Add</button>
    </form>
    </app-menu-item>
  </app-menu-item>
</app-menu>