::ng-deep .mat-form-field {
    display: inline !important;
  }


  .add-project-btn {
    width: 150px;
    margin: auto;
  }

  .date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .separator {
    height: 2px;
    width: 10px;
    background-color: black;
  }
