<app-menu>
  <app-menu-item title="Bio">
    <app-menu-item title="Expereince">
      <mat-expansion-panel *ngFor="let project of projects | async">
          <mat-expansion-panel-header>
            {{ project.name }} - {{ project.date | date: 'MMMM y'}}
          </mat-expansion-panel-header>
          <p>{{ project.description }}</p>
          <mat-chip-list>
              <mat-chip *ngFor="let tag of project.tags">{{ tag }}</mat-chip>
            </mat-chip-list>
      </mat-expansion-panel>
    </app-menu-item>
  </app-menu-item>
</app-menu>